﻿@model WWiki.Models.Faction

@{
    ViewBag.Title = "Create";
}

<h2>New Faction</h2>
<form method="post" action="/Faction/Create">
    <div class="inprow">
        <div class="input_label">Faction Name: </div>
        <input type="text" name="FactionName_New" id="FactionName_New" />
    </div>

    <div class="inprow">
        <div class="input_label">Faction Bio: </div>
        <textarea name="FactionBio_New" id="FactionBio_New" ></textarea>
    </div>      

    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>



</form>