﻿@model IEnumerable<WWiki.Models.Faction>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Add a Faction", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FactionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactionBio)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FactionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactionBio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FactionID }) |
            @Html.ActionLink("Details", "Show", new { id=item.FactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FactionID })
        </td>
    </tr>
}

</table>
