﻿@model WWiki.Models.Faction

@{
    ViewBag.Title = "Show";
}

<h2>@Model.FactionName</h2>

<p>@Model.FactionBio</p>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>    
