﻿@model IEnumerable<WWiki.Models.Race>

@{
    ViewBag.Title = "Create";
}

<h2>New Faction</h2>
<form method="post" action="/Race/Create">
    <div class="inprow">
        <div class="input_label">Race Name: </div>
        <input type="text" name="RaceName_New" id="RaceName_New" />
    </div>

    <div class="inprow">
        <div class="input_label">Race Faction: </div>
        <input type="text" name="RaceFaction_New" id="RaceFaction_New" />
    </div>

    <div class="inprow">
        <div class="input_label">Race Bio: </div>
        <textarea name="RaceBio_New" id="RaceBio_New"></textarea>
    </div>

    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>



</form>