﻿@model IEnumerable<WWiki.Models.Race>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Add a Race", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceFaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceBio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RaceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceFaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceBio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RaceID }) |
            @Html.ActionLink("Details", "Show", new { id=item.RaceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RaceID })
        </td>
    </tr>
}

</table>
