﻿@model WWiki.Models.Race

@{
    ViewBag.Title = "Show";
}

<h2>@Model.RaceName</h2>
<p class="p_faction">@Model.RaceFaction</p>
<p>@Model.RaceBio</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RaceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
