﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #18244c;
    color: #fff;
}
    body a {
        color: #ffbd00;
        text-decoration: none;
    }
    body a:hover{
        color: #ffbd00;
        text-decoration: underline;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.index_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}
.inprow{
    color: #000;
}
.input_label{
    color: #fff;
}
td{
    min-width: 150px;
}
.p_faction{
    font-style: italic;
    font-weight: bold;
}
