﻿@model WWiki.Models.Character

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="/Character/Create">
    <div class="inprow">
        <div class="input_label">Character Name: </div>
        <input type="text" name="CharacterName_New" id="CharacterName_New" />
    </div>

    <div class="inprow">
        <div class="input_label">Character Race: </div>
        <input type="text" name="CharacterRace_New" id="CharacterRace_New" />
    </div>
    <div class="inprow">
        <div class="input_label">Character Faction: </div>
        <input type="text" name="CharacterFaction_New" id="CharacterFaction_New" />
    </div>
    <div class="inprow">
        <div class="input_label">Character Bio: </div>
        <textarea name="CharacterBio_New" id="CharacterBio_New"></textarea>
    </div>

    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>