﻿@model IEnumerable<WWiki.Models.Character>

@{
    ViewBag.Title = "List";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add a Character", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterRace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterFaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterBio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterRace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterFaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterBio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CharacterID }) |
            @Html.ActionLink("Details", "Show", new { id=item.CharacterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CharacterID })
        </td>
    </tr>
}

</table>
