﻿@model WWiki.Models.Character

@{
    ViewBag.Title = "Show";
}

<h2>@Model.CharacterName</h2>
<p class="p_faction">@Model.CharacterFaction</p>
<p class="p_faction">@Model.CharacterRace</p>
<p>@Model.CharacterBio</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CharacterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
